@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">bem-Vindo a League of Draven</h1>
    <p>E o LOLdle em?  <a href="https://loldle.net/">bora qual é o champ de hj</a>.</p>
</div>
